<section class="settings-container">
  <h1 class="settings-title">Recuperar contraseña</h1>

  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="settings-form">
    <label>
      Correo electrónico:
      <input type="email" formControlName="email"/>
    </label>

    <label>
      Nueva contraseña:
      <input type="password" formControlName="newPassword"/>
    </label>

    <button type="submit">Cambiar contraseña</button>
    <button type="button" (click)="goBack()" class="back-button">
      Volver al Login
    </button>


    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</section>
