<section class="container-section">
  <form [formGroup]="authForm" (submit)="onSubmit()">
    @if (!isRegister()) {
      <div class="login-section">
        <div class="logo-link">
          <img src="assets/logos/moodify-logo-light.png" alt="Moodify Logo">
        </div>
        <h2 class="form-title">Iniciar Sesión</h2>

        <input
          formControlName="email"
          placeholder="Email"
          type="email"
          [class.invalid]="authForm.get('email')?.invalid && authForm.get('email')?.touched">

        <input
          formControlName="password"
          placeholder="Contraseña"
          type="password"
          [class.invalid]="authForm.get('password')?.invalid && authForm.get('password')?.touched">

       <div class="buttons">
         <button type="submit">
           <i class="fa fa-sign-in"></i> Iniciar Sesión
         </button>

         <button type="button" (click)="toggleResgister()">
           <i class="fa fa-user-plus"></i> Crear Cuenta
         </button>
       </div>

        <div class="form-footer">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    }

    @if(isRegister()){
      <div class="login-section">
        <div class="logo-link">
          <img src="assets/logos/moodify-logo-light.png" alt="Moodify Logo">
        </div>
        <h2 class="form-title">Registro</h2>

        <input
          formControlName="name"
          placeholder="Nombre completo"
          type="text"
          [class.invalid]="authForm.get('name')?.invalid && authForm.get('name')?.touched">

        <input
          formControlName="email"
          placeholder="Email"
          type="email"
          [class.invalid]="authForm.get('email')?.invalid && authForm.get('email')?.touched">

        <input
          formControlName="password"
          placeholder="Contraseña"
          type="password"
          [class.invalid]="authForm.get('password')?.invalid && authForm.get('password')?.touched">

        <div class="buttons">
        <button type="submit">
          <i class="fa fa-user-plus"></i> Registrarse
        </button>

        <button type="button" (click)="toggleResgister()">
          <i class="fa fa-arrow-left"></i> Volver al Login
        </button>
        </div>
      </div>
    }
  </form>
</section>
