<div class="emotions-section">
  <div class="section-header">
    <h2 class="section-title">Moods</h2>
  </div>

  <div class="section-subtitle">
    <p>¿No te ha pasado que has tenido días que sabes que algo te pasa pero ni siquiera sabes lo que te pasa?</p>
    <p>¡Para eso tenemos este apartado! Aquí podrás bichear los estados de ánimo disponibles y con el que sientes que conectes... ¡así estará yendo tu día! 😃👽</p>
  </div>


  <div class="emotions-container">
    @for (mood of datosMoods; track mood.id) {
      <app-moods [mood]="mood"/>
    }
  </div>
  <app-modal-emotions />
</div>
