<section class="side-bar">
  <a class="logo-link" (click)="toggleMenu($event)">
    <img src="assets/logos/moodify-logo-light.png" alt="Moodify Logo">
  </a>
  <div class="menu-content" [class.menu-open]="isMenuOpen">
    <span class="block h-px w-full divisor"></span>

    <div class="top-list-section">
      <ul>
        <li><a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i
          class="fas fa-light fa-home"></i>Home</a></li>
        <li><a routerLink="favorites" routerLinkActive="active"><i class="fas fa-heart heart"></i>Favoritos</a></li>
        <li><a routerLink="history" routerLinkActive="active"><i class="fa-solid fa-clock-rotate-left"></i>Historial</a>
        </li>
      </ul>
    </div>
    <span class="block h-px w-full divisor"></span>

    <div class="medium-list-section">
      <ul>
        <li><a routerLinkActive="active"><i class="fa-regular fa-lemon"></i>Cosa 1</a></li>
        <li><a routerLinkActive="active"><i class="fa-regular fa-lemon"></i>Cosa 1</a></li>
        <li><a routerLinkActive="active"><i class="fa-regular fa-lemon"></i>Cosa 1</a></li>
      </ul>
    </div>
    <span class="block h-px w-full divisor"></span>

    <div class="bottom-list-section">
      <ul>
        <li><a routerLink="diary" routerLinkActive="active"><i class="fa-solid fa-pen-fancy"></i>Diario</a></li>
        <li><a routerLink="graphics" routerLinkActive="active"><i class="fas fa-chart-pie"></i>Gráficos</a></li>
        <li><a routerLink="moods" routerLinkActive="active"><i class="fa-regular fa-face-smile-wink smile"></i>Moods</a>
        </li>
      </ul>
    </div>

    <span class="block h-px w-full divisor context-divisor"></span>

    <div class="bottom-list-section context-app">
      <ul>
        <li><a routerLink="about" routerLinkActive="active"><i class="fa-regular fa-hand-peace"></i>About</a></li>
<!--        <li><a routerLink="graphics" routerLinkActive="active"><i class="fa-regular fa-hand-point-up"></i>Social</a></li>-->
        <li><a (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</section>
