<!--<div class="layout">-->
<!--  <aside class="sidebar">-->
<!--    <div class="container-side-bar">-->
<!--      <app-side-bar/>-->
<!--    </div>-->
<!--  </aside>-->

<!--  <div class="content-area">-->

<!--    <section class="main-content">-->
<!--      <router-outlet/>-->
<!--    </section>-->

<!--    <footer class="music-player">-->
<!--      <div class="container-music-player">-->
<!--        <app-music-player/>-->
<!--      </div>-->
<!--    </footer>-->

<!--  </div>-->
<!--</div>-->
<router-outlet />
