<div class="album-card" [ngClass]="{'hovered': isHovered, 'playing': isPlaying}" (mouseenter)="isHovered = true"
     (mouseleave)="isHovered = false">
  <div class="album-image-container">
    <img [src]="track.imageUrl" [alt]="track.name + ' cover'" class="album-image">
    @if (isHovered || isPlaying) {
      <div class="play-button-overlay" (click)="playAlbum()">
        <button class="play-button">
          @if (isPlaying) {
            <i class="fas fa-pause"></i>
          } @else {
            <i class="fas fa-play"></i>
          }
        </button>
      </div>
    }
  </div>
  <div class="album-info">
    <h3 class="album-title" [ngClass]="{'text-playing': isPlaying}">{{ track.name }}</h3>
    <p class="album-artist">{{ track.artist }}</p>
  </div>
</div>
