@import "tailwindcss";

:root {
  --primary-color: #fef9e9;
  --secondary-color: #f8e4c5;
  --complementary-color: #f9ccc8;
  --complementary-medium-dark: #f2bdcb;
  --medium-dark-color: #dcb18b;
  --dark-color: #241d17;
  --complementary-medium-dark-hover: #ef6589;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zain", sans-serif;
}

body{
  background-color: var(--secondary-color);
}

::-webkit-scrollbar {
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--complementary-medium-dark);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--complementary-medium-dark-hover);
}

